sudo apt-get install poppler-utils
sudo apt install tesseract-ocr-eng
pip install pytesseract
pip install pdf2image
pip install transformers
pip install bertviz
pip install urllib3
pip install sent2vec