sudo apt-get install poppler-utils
sudo apt install tesseract-ocr-eng
pip install pytesseract
pip install pdf2image
pip install transformers
pip install bertviz
pip install urllib3
pip install sent2vec
pip install scipy==1.10.1
pip install layoutparser
pip install "detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2"

// poppler
// tesseract